body {
	background: #CCCCCC
}

#salgados {
	width: 100%
}

h1 {
	text-align: center;
	border: 10px solid #000000;
	padding: 20px;
	margin: 40px;

	}

p {
	text-align: center;
		font-size: 20px
		}

strong {
	color: #FF0000;
}

.itens{
	font-style: italic;
	font-size: 20px;
	}
	
#salgado2{
	width: 48%;
	padding: 2px;
	margin: 2px;
		}

#cerveja{
	width: 45%;
	padding: 2px;
	margin: 2px;
		}

.imagem li{
	display: inline-block;
}
